<IfModule mod_rewrite.c>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sentiment Analysis
RewriteRule api/sentimenty/?(.*)$ sentimenty.php?request=$1 [QSA,NC,L]

</IfModule>