<IfModule mod_rewrite.c>

RewriteEngine On
# Set basic conditions
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# For Demos: clean URLs when requesting a demo
RewriteRule ^demo/?(.*)/?$ demos.php?d=$1 [QSA,NC,L]

# For API calls use the atomic rewrite for q=$1/$2
# $1 = Endpoint; $2 = Data being sent
RewriteRule ^s/(.*)/?(.*)$ sentimenty.php?q=$1/$2 [QSA,NC,L]

</IfModule>